* {
  font-family: Arial, sans-serif;
  /* outline: dashed orange; */
}
ul{
  list-style: none;
}
body {
  width: 901px;
  text-align: center;
  margin: auto;
}
header {
  border-bottom: solid;
  width: 901px auto;
  height: 120px;

}
header nav div h1{
  font-family: 'Yellowtail', cursive;
}
#icons{
  width:50%;
  display: inline;
}
#headLogo {
  text-align: left;
  width: 50%;
  outline:orange;
  float:left;
  display: inline-block;
}
nav div h1 {
  font-size: 2.3em;
  display: inline;
  text-align: left;
}
nav h3 {
  font-size: 1em;
  align-content: left;
}
nav ul {
  display: inline-block;
  float: right;
}

nav li {
  display: inline;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png);
  border: 0;

}

main {
  width: 901px;
}
main h1 {
  text-align: left;
  font-size: 2.8em;
}
main h3 {
  text-align: left;
}
main div img {
  align-content: right;
  margin-right: 0px;
}
main h4 {
  text-align: right;
}
p {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 25px;
}
article {
  background: url('../images/list-bg.png');
}
article ul{
  
}
#rec1 {
  display: inline-block;
  text-align: left;
  float: left;
  width: 50%
}
#rec2 {
  display:inline;
  text-align: left;
  width: 50%;
}
#vanessa{
  float: left;
}
#author{
  text-align: left;
}
#desc{
  float:left;
}
#smallogo{
  display:block;
}