* {
  font-family: Arial, sans-serif;
  /* outline: dashed orange; */
}

body {
  width: 901px;
  text-align: center;
  margin: auto;
}
header {
  border-bottom: solid;
  width: 901px auto;
  height: 120px;

}
#headLogo {
  text-align: left;
  padding-top: 20px, 30px;
}
nav div h1 {
  font-size: 2.3em;
  display: inline;
  text-align: left;
}
nav h3 {
  font-size: 1em;
  align-content: left;
}
nav ul {
  display: inline-block;
  margin-left: 10px;
  float: right;

}

nav li {
  display: inline;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png
http://ibrahimjabbari.com/english/images/hr-11.png
) 
  border: 0;
}

main {
  width: 901px;
}
main h1 {
  text-align: left;
  font-size: 2.8em;
}
main h3 {
  text-align: left;
}
main div img {
  align-content: right;
  margin-right: 0px;
}
main h4 {
  text-align: right;
}
p {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  text-indent: 25px;
}
article {
  background: url('img/list-bg.png');
}
#rec1 {
  margin: 30px 60px 30px 0px;
  display: inline-block;
  text-align: left;
  float: left;
  width: 50%
}
#rec2 {
  text-align: left;
  outline: dashed orange;
  float: left;
  width: 50%;
}